---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../utils";

interface Props {
   post: CollectionEntry<"articles">;
}

const { post } = Astro.props;
const { title, description, pubDate, tags, image } = post.data;
---

<article
   class="relative group flex flex-col p-8 bg-azul-900 rounded-xl border-2 border-azul-700/50 hover:border-azul-700 hover:-translate-y-2 transition-transform duration-300"
>
   <div class="overflow-hidden rounded-md mb-2">
      <Image
         src={image}
         alt={title}
         class="object-cover group-hover:scale-105 duration-150"
         width={550}
         height={360}
      />
   </div>

   <div class="flex flex-col space-y-6 flex-1">
      <div class="flex-1">
         <header>
            {
               tags.map((tag) => (
                  <span>
                     <a
                        href={`/articles/tag/${tag}`}
                        class="relative z-10 inline-block text-sm font-light text-white/50 bg-azul-700 opacity-70 hover:opacity-100 duration-100 uppercase py-1 px-3 mr-2 rounded-full"
                     >
                        {tag}
                     </a>
                  </span>
               ))
            }
            <h3
               class="text-lg font-semibold font-display leading-relaxed tracking-wide my-2 group-hover:text-azul-300 transition-colors"
            >
               <!-- ex: post.id = "articles/1.md"  -->
               <a
                  href={`/articles/${post.id.replace("articles/", "").replace(".md", "")}`}
                  class="after:absolute after:inset-0 after:z-0"
               >
                  {title}
               </a>
            </h3>
         </header>
         <p class="text-white/60 line-clamp-3 text-balance">
            {description}
         </p>
      </div>

      <footer class="flex items-center justify-between">
         <span class="text-sm text-white/50 group-hover:text-white duration-100"
            >{formatDate(pubDate)}</span
         >
         <span
            class="font-serif text-white/50 -translate-x-1 group-hover:translate-x-0 group-hover:text-white duration-100"
         >
            →
         </span>
      </footer>
   </div>
</article>
